node_modules/
android/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.code-workspace
android/
ios/
.vscode/

# macOS
.DS_Store
!/src/components/snackbar/snackbar.tsx
!/src/request/apis/auth.ts
